.banner{
  .swiper-container {
    padding-top: 28/150rem;
    padding-bottom: 54/150rem;
    background: #fff;
  }

  .swiper-wrapper {
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 680/150rem;
      height: 370/150rem;
      border-radius: 8.4/150rem;
      overflow: hidden;
      margin-right: 42/150rem;
      margin-left: 28/150rem;
      .cover {
        width: 495/150rem;
        height: 495/150rem;
        border-radius: 100/150rem;
        position: absolute;
        top: -115/150rem;
        left: -240/150rem;
        opacity: .9;
        transform: rotate(-40deg);
        z-index: -1;
      }
    }

    .swiper-slide:nth-child(1) {
      background-image: url("shiwu_banner_01.jpg");
      .cover {
        background-color: #d2c1a7;
      }
    }
    .swiper-slide:nth-child(2) {
      background-image: url("shiwu_banner_02.jpg");
      .cover {
        background-color: #b2bc81;
      }
    }
    .swiper-slide:nth-child(3) {
      background-image: url("shiwu_banner_03.jpg");
      .cover {
        background-color: #afc1cd;
      }
    }
    .swiper-slide:nth-child(4) {
      background-image: url("shiwu_banner_04.jpg");
      .cover {
        background-color: #7d797a;
      }
    }


  }

  .content{
    width: 254.67/150rem;
    height: 161.44/150rem;
    position: absolute;
    left: 29/150rem;
    top: 50/150rem;

    .line-title{
      display: flex;
      -webkit-box-align: center;
      align-items: center;

      line-height: 1.2;
      margin-bottom: 20/150rem;
      font-size: 17/150rem;
      color:#fff;
    }
    .title{
      color: #fff;
      font-size: 35.25/150rem;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 11/150rem;
      font-weight: 700
    }
  }


}