.zhenPin {
  margin-bottom: 20/28rem;
  background: #fff;

  .container {
    width: 690/28rem;
    margin: 0 auto;

    .module-title {
      text-align: center;
      font-size: 32/28rem;
      height: 120/28rem;
      line-height: 120/28rem;
    }
    .mainItem {
      margin-bottom: 30/28rem;
      display: block;
      position: relative;
      width: 688/28rem;
      height: 573.98/28rem;
      color: #333;
      border: 1px solid #d9d9d9;
      border-radius: 8/28rem;
      overflow: hidden;

      .mainPic {
        background-image: url("./main-pic.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        width: 688/28rem;
        height: 386/28rem;
        border-radius: 8/28rem 8/28rem 0 0;
        overflow: hidden;

        .topicTag {
          position: absolute;
          top: 20/28rem;
          left: 20/28rem;
          .exploreTag {
            display: inline-block;
            padding: 0 15.999/28rem;
            height: 36/28rem;
            line-height: 36/28rem;
            background-color: rgba(255, 255, 255, .9);
            border: 1px solid #d9d9d9;
            border-radius: 20/28rem;
            color: #333;
          }
        }
      }

      .topicInfo {
        overflow: hidden;
        position: relative;
        padding: 24/28rem 20/28rem 0;
        background-color: #fff;

        .line1 {
          margin-bottom: 19/28rem;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          line-height: 1.2;

          .title {
            margin-right: 30/28rem;
            font-size: 36/28rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .price {
            line-height: 1;
            font-size: 32/28rem;
            text-align: center;
            min-width: 115/28rem;
          }
        }

        .line2 {
          font-size: 1rem;
          line-height: 1.2;
          color: #7f7f7f;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .minorItem {
      display: flex;
      background-color: #fff;
      color: #333;
      border: 1px solid #d9d9d9;
      border-radius: 3.75/28rem;
      margin-bottom: 30/28rem;

      .topicInfo {
        width: 300/28rem;
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-box-pack: center;
        overflow: hidden;
        position: relative;
        padding-left: 20/28rem;
        padding-right: 30/28rem;

        .author-container {
          margin-bottom: 25/28rem;
          .author {
            height: 48/28rem;
            font-size: 20/28rem;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            .avatar {
              //  display: inline-block;
              width: 48/28rem;
              height: 48/28rem;
              margin-right: 7.7/28rem;
              overflow: hidden;
              border: 1px solid #d9d9d9;
              border-radius: 50%;
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }

            .nickname {
              font-size: 8/28rem;
              color: #333;
            }
          }
        }

        .line1 {
          margin-bottom: 0.5rem;
          line-height: 1.2;
          margin-right: 30/28rem;
          font-size: 32/28rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .line2 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          font-size: 24/28rem;
          line-height: 1.5;
          color: #7f7f7f;
        }
      }

      .minorPic {
        position: relative;
        width: 10rem;
        height: 9.714rem;
        .imgContainer {
          width: 100%;
          height: 100%;
          background-image: url("./imgContainer01.jpg");
          background-size: cover;
          .topicTag {
            position: absolute;
            top: 10/28rem;
            left: 10/28rem;
            font-size: 24/28rem;
            display: inline-block;
            padding: 0 16/28rem;
            height: 36/28rem;
            line-height: 36/28rem;
            background-color: rgba(255, 255, 255, .9);
            border: 1px solid #d9d9d9;
            border-radius: 20/28rem;
            color: #333;
          }
        }

        .imgContainer02{
          background-image: url("./imgContainer02.jpg");
        }
      }
    }
  }
}

