.fenright{
  display: flex;
  margin-top: 2rem;
  flex: 1;
  .tomImgCon{
    //position: relative;
    width: 90%;
    height: 2.56rem;
    margin-left: 5%;
    display: table;
    background: center no-repeat #f4f4f4;
    background-size: cover;
    border-radius: 4px;
    //background: center no-repeat;
    //background-size: cover;
    img{
      width:100%;
      height:auto;
    }
  }
  .cateList{
    position: absolute;
    top:10rem;
    .listTitle{
      width:100%;
      color:#333;
      text-align: center;
      display: block;
    }
    .listWrap{
      margin: 0 auto;
      padding-left: 1.5rem;
      ul{
        margin: 0 auto;
        li{
          float:left;
          a{
            display: block;
            img{
              width:6rem;
              height: 6rem;
            }
            span{
              width:6rem;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }

  }
}