.CartEmpty {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .Cart-header {
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    span {
      display: inline-block;
      font-size: .35rem;
    }
    *:nth-child(2) {
      font-size: .3rem;
      position: absolute;
      right: 1.4*0.3rem;
    }
  }
  .Cart-main {
    background: #f4f4f4;
    position: absolute;
    top: .9rem;;
    bottom: 0;
    left: 0;
    right: 0;
    .Cart-nav {
      ul {
        display: flex;
        flex-direction: row;
        padding-top: 0.9*0.3rem;
        li {
          flex: 1;
          text-align: center;
          align-items: center;
          font-size: 0.5*0.3rem;
          color: #666666;
          box-sizing: border-box;
          span {

          }
        }
      }
    }
    .Cart-login {
      position: absolute;
      top: 7rem;
      right: 0;
      left: 0;
      margin: auto;
      img {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: -2.4rem;
        left: 2.55rem;
        display: inline-block;
      }
      .Cart-title {
        margin-bottom: 1.8*0.3rem;
        font-size: 1*0.3rem;
        color: #999;
        text-align: center;
      }
      .Cart-btn {
        width: 17.5*0.3rem;
        height: 3.5*0.3rem;
        line-height: 3.5*0.3rem;
        text-align: center;
        margin: auto;
        background-color: #b4282d;
        font-size: 1.1*0.3rem;
        color: #fff;
        border-radius: .2*0.3rem;
      }
    }
  }

}

.CartFull {
  width: 100%;
  height:13rem;
  .Cart-header {
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    span {
      display: inline-block;
      font-size: .35rem;
    }
    *:nth-child(2) {
      font-size: .3rem;
      position: absolute;
      right: .2rem;
    }

  }
  .Cart-main {
    background: #f4f4f4;
    position: absolute;
    top: .9rem;
    left: 0;
    right: 0;
    .Cart-postage {
      padding: 0 .2rem;
      line-height: .8rem;
      height: .8rem;
      font-size: .16rem;
      color: #f48f18;
      background-color: #fff8d8;
    }
    .baozi {
      margin-top: .15rem;
      .buycart {
        border-bottom: 1px solid #dfdfe1;
        display: flex;
        height: 1.9rem;
        background-color: #fff;
        align-items: center;
        padding-right: .2rem;
        .check {
          width: .6rem;
          display: flex;
          justify-content: center;

        }
        .img img{
          width: 1.5rem;
          height:1.5rem;
        }
        .all-details {
          // height: 1.05rem;
          display: flex;
          flex-direction: column;
          flex: 1;
          height: 1.05rem;
          .any-details {
            display: flex;
            justify-content: space-between;
            font-size: .182rem;
            line-height: .2rem;
            margin-bottom: .051rem;
            .title {
                height: .3rem;
                line-height: .3rem;
            }

          }
          .one-detail {
            font-size: .18rem;
            line-height: .185rem;
            color: #666;
            margin-bottom: .185rem;
          }
          .price-btn {
            display: flex;
            justify-content: space-between;
            font-size: .182rem;
            .all-btn {
              display: flex;
              line-height: 0.33rem;
              text-align: center;
              .btn {
                width: .465rem;
                height: .33rem;
                text-align: center;
                border: 1px #dfdfe1 solid;
              }

              .add, .reduce {
                border: 1px #dfdfe1 solid;
                border-radius: .01rem;
                width: 0.503rem;
                height: 0.33rem;
              }
            }
            .removeOne {
              background: #b4282d;
              color: #ffffff;
              width: .5rem;
              height: .30rem;
              line-height: .3rem;
              text-align: center;
              border-radius: 2px;
            }
          }
        }
        img {
          margin-right: .13rem;
          background-color: #f4f4f4;
          width: 1.05rem;
          height: 1.05rem;
        }
      }
    }
    .Cart-buy {
      position: fixed;
      z-index: 3;
      left: 0;
      width: 100%;
      height: .8rem;
      line-height: .8rem;
      background-color: #fff;
      bottom: .98rem;
      right: 0;
      font-size: .2rem;
      padding-left: .3rem;
      border: 1px solid #ededed;
      .Cart-buy-left {
        input {
          width: .2rem;
          height: .2rem;
          border-radius: 50%;
          border: 1px solid #999999;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          color: #333333;
          vertical-align: middle;

        }
        *:nth-child(3) {
          color: #b4282d;
          position: absolute;
          right: 48%;
        }
      }
      .Cart-buy-right {
        button {
          position: absolute;
          bottom: 0;
          right: .3rem;
          border: 0 !important;
          background-color: #b4282d;
          color: #ffffff;
          line-height: .8rem;
          width: 2rem;
        }
      }
    }
  }
}