.product-list{
  width: 100%;
  img.top-img{
    width: 100%;
  }
  .content-title{
    width: 100%;
    height: 1.152rem;
    line-height: 1.252rem;
    p.name{
      font-size :.3rem;
      height: .7rem;
      line-height: .7rem;
      text-align: center;
      color:#333333;
    }
    p.info{
      font-size: .2rem;
      height: .446rem;
      line-height: .446rem;
      text-align: center;
      color:#999999;
    }
  }
  ul{
    li{
      width: 100% ;
    }
  }
}