.item-container {
  width: 3.3122rem;
  overflow: hidden;
  img.item-cover {
    display: block;
    width: 3.3122rem;
    background: #f4f4f4;
    transition: 1s linear opacity;
    transition-duration: 1s;
  }
  div.item-title {
    width: 100%;
    height: 0.6438rem;
    line-height: 0.6438rem;
    background: #F1ECE2;
    color: #9F8A60;
    font-size:0.2rem;
    padding: 0 0.112rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .item-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    .item-tag{
      width: 100%;
      height: 0.28rem;
      line-height: 0.28rem;
      padding: .14rem 0.1rem;
      text-align: left;
      .tag{
        margin-left: 0.12rem;
        display: block;
        font-size: 0.22rem;
        text-align: center;
        color: #fff;
        width: 1rem;
        height: 0.28rem;
        border-radius:10%;
        background: #f48f18;
      }
    }
    p.item-info{
      width: 100%;
      height: 0.4rem;
      line-height: 0.4rem;
      text-align: left;
      margin-left: 0.1rem;
      font-size: 0.24rem;
      color:#333333;
    }
    .item-price{
      color: #b4282d;
      height: 0.4rem;
      line-height: 0.4rem;
      margin-left: 0.1rem;
      font-size: 0.26rem;
    }
  }
}