.module-title {
  background-color: #fff;
  text-align: center;
  font-size: 32/104rem;
  height: 120/104rem;
  line-height: 120/104rem;
}

.global {
  margin-bottom: 20/104rem;


  .content{
    .mainItem{
      display: block;
      position: relative;
      color: #333;
      border: 1px solid #d9d9d9;
      border-radius: 7.8/104rem;
      overflow: hidden;

      .mainPic{
        background-image: url("./japan.png");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 420/104rem;
      }

      .topicInfo{
        width: 690/104rem;
        height: 127/104rem;
        background-color: #fff;
        padding: 20/104rem 30/104rem 51/104rem;
        .line1{
          flex: 1;
          margin-right: .30/104rem;
          font-size: 36/104rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-bottom: 18/104rem;
        }
        .line2{
          white-space: pre-wrap;
          position: relative;
          font-size: 28/104rem;
          line-height: 1.2;
          color: #7f7f7f;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.look{
  .content{
    position: relative;
    display: block;
    color: #333;
    .scenePic{
      width: 100%;
      height: auto;
    }
    .topicInfo{
      overflow: hidden;
      position: relative;
      padding: 24/104rem 30/104rem 46/104rem;
      background-color: #fff;
      .desc{
        font-size: 27/104rem;
        line-height: 1.6;
        color: #7f7f7f;
      }
    }
  }
}