.tenFifteen{
  overflow: hidden;
  padding: 0 30/28rem 40/28rem;
  height: 571/28rem;
  background-color: #fff;
  margin-bottom: 20/28rem;
  .inner{
    line-height: 1.2;

    .module-title{
      text-align: center;
      font-size: 32/28rem;
      height: 120/28rem;
      line-height: 120/28rem;
    }

    .list{
      display: flex;
      flex-flow: row nowrap;

      .item{
        position: relative;
        width: 500/28rem;
        height: 294/28rem;
        padding: 38/28rem 40/28rem 79/28rem;
        margin-right: 30/28rem;
        text-align: center;
        color: #333;
        background-image: url("./15Bg.png");
        background-size: 100% 100%;
        vertical-align: middle;

        .line-title{
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          margin: 0 .10667rem 42/28rem;
          font-size: 24/28rem;
          color: #7f7f7f;
        }

        .title{
          font-size: 36/28rem;
          font-weight: 700;
          margin-bottom: 14/28rem;
        }
        .desc{
          font-size: 1rem;
          line-height: 1.5;
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .joinInfo{
          position: absolute;
          bottom: 80/28remrem;
          width: 500/28rem;
          text-align: center;
          .inner{
            display: inline-block;
            overflow: hidden;
            .avatars{
              float: left;
              margin-right: 16/28rem;
              .avatar{
                position: relative;
                float: left;
                height: 48/28rem;
                width: 48/28rem;
                overflow: hidden;
                border: 1px solid #fff;
                border-radius: 50%;
                &:nth-child(1){
                  z-index: 4;
                }
                &:nth-child(2){
                  z-index: 3;
                }
                &:nth-child(3){
                  z-index: 2;
                }
                &:nth-child(4){
                  z-index: 1;
                }
              }
            }


          }
        }


            .txt {
              color: #7f7f7f;
              font-size: 35/28rem;
              line-height: 38/28rem;
              margin-right: 17/28rem;
          }
      }
    }
  }
}