.detail-header {
  height: 0.879rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1/38rem solid #ddd;
  text-align: center;
  line-height: 0.879rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
  background: #fafafa;
  .icon-shouye {
    font-size: 0.5rem;
    float: left;
  }
  img {
    display: inline-block;
    margin-top: .2rem;
    width: 1.4rem;
    height: 0.4rem;
    margin-left: 1.1rem;
  }

  .iconRight {
    display: inline-block;
    float: right;
    .icon-fangdajing {
      font-size: .45rem;
      color: #868686;
      margin-right: 18/37rem;
    }
    .icon-gouwuche {
      font-size: .5rem;
      color: #868686;
    }
  }
}