.invoice-total{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffff;
  padding-top: 2rem;
  padding-left: 1rem;
  z-index: 11;
  .invoice-check{
    display: flex;
    button{
      flex: 1;
    }
  }
}



