.invoice-total{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f4;
  z-index: 15;
  padding: 0.3rem;
  .invoice-check{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    display: flex;
    flex-direction: row;
    z-index: 11;
    background: #fff;
    button{
      flex: 1;
    }
    .btn-right{
      background: #cf0703;
      color: #fff;
    }
  }
  .invoice-tip{
    margin-top: .3rem;
    font-size: .24rem;
    color: #666;
    line-height: .36rem;
    .invoice-type{
      padding-bottom: 0.12rem;
    }
    .invoice-notice{

    }

  }

}



